*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

.container{
    top: 50%;
    left: 50%;
    position: absolute;
    height: 300px;
    width: 600px;
    transform: translate(-50%, -50%);
}

#canvas1 {
    border: 3px solid white;
}

.controls{
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
}

.controls > input {
    width: 75%;
}

.controls > label {
    width: 30%;
    color: white;
    font-size: 20px;
}